.App {
  color: darkslateblue;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.card-style {
  /* transition: all 0.3s ease-out; */
  box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.2);
  top: -8px;
  border: 1px solid #cccccc;
}
